<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-6'>
                <button class='btn btn-primary' [routerLink]="['/project/insert']">
                    +
                </button>
                <button class='btn btn-default'
                    (click)='toggleComplete()'>
                    {{showComplete ? 'Hide' : 'Show'}} Completed Projects
                </button>
            </div>
            <div class='col-md-3 pull-right'>
                Filter: <input type='text' [(ngModel)] = 'listFilter' />
            </div>
        </div>
        <div class='table-responsive'>
            <table class='table' *ngIf='projects && projects.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th><a (click)='onOrderBy("project_name")'>Name{{orderBy === 'project_name' ? orderDesc ? '▼' : '▲' : ''}}</a></th>
                        <th><a (click)='onOrderBy("customer_name")'>Customer{{orderBy === 'customer_name' ? orderDesc ? '▼' : '▲' : ''}}</a></th>
                        <th><a (click)='onOrderBy("hours")'>Hours Invested{{orderBy === 'hours' ? orderDesc ? '▼' : '▲' : ''}}</a></th>
                        <th><a (click)='onOrderBy("start_date")'>Started{{orderBy === 'start_date' ? orderDesc ? '▼' : '▲' : ''}}</a></th>
                        <th><a (click)='onOrderBy("end_date")'>Ended{{orderBy === 'end_date' ? orderDesc ? '▼' : '▲' : ''}}</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let project of projects | projectFilter:listFilter:showComplete | orderBy:orderBy:orderDesc'>
                        <td>
                            <button class='btn btn-primary' [routerLink]="['/project/update', project._id]">View/Edit</button>
                        </td>
                        <td>
                            <button class='btn btn-primary' (click)='handleDelete(project)'>Delete</button>
                        </td>
                        <td>{{project.project_name}}</td>
                        <td>{{project.customer_name}}</td>
                        <td>{{project.hours | hours | number}}
                        <td>{{project.start_date | startDate}}</td>
                        <td>{{project.end_date | endDate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>